* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

/* VARIABLES */

$color1: rgb(142, 202, 230);
$color2: rgb(214, 40, 40);
$color3: #fcbf49;
$color4: #03045e;
$color5: #ef476f;
main {
    .container-fluid {
        width: 100vw;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        .accordion {
            width: 80vw;
            border: 1px solid;
            .accordion-item{
                h2{  
                    button{
                        color: whitesmoke;
                        text-shadow: 1px 1px 1px black;
                        height: 10vh;
                    }
                }
            }
            /* !PRIMER ACCORDEON */
            .primer-color {
                h2 {
                    button {
                        background-color: $color1;
                    }
                }
                .collapse{
                    .accordion-body{
                        background-color: rgba(142, 202, 230,0.6);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        h3{
                            text-align: center;
                            
                        }
                        .img{
                            background-image: url(../assets/controlador.jpg);
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                            height: 40vh;
                            width: 100%;
                            margin: 0 auto;
                        }
                        p{
                            text-align: justify;
                            font-weight: 500;
                        }
                    }
                }
            }
            /* !SEGUNDO ACCORDEON */
            .segundo-color {
                h2 {
                    button {
                        background-color: $color2;
                    }
                }
                .collapse{
                    .accordion-body{
                        background-color: rgba(214, 40, 40,0.6);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        h3{
                            text-align: center;
                        }
                        .img{
                            background-image: url(../assets/huida.jpg);
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: 70% 100%;
                            height: 50vh;
                            width: 50%;
                            margin: 0 auto;
                        }
                        p{
                            text-align: justify;
                            font-weight: 500;
                        }
                        
                    }
                }
            }
            .tercer-color {
                h2 {
                    button {
                        background-color: $color3;
                    }
                }
            }
            .cuarto-color {
                h2 {
                    button {
                        background-color: $color4;

                    }
                }
            }
            .quinto-color {
                h2 {
                    button {
                        background-color: $color5;

                    }
                }
            }
        }
    }
}


.accordion-button::after{
    background-image: none;
}