* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

/* VARIABLES */

$color1: #8ecae6;
$color2: #d62828;
$color3: #fcbf49;
$color4: #03045e;
$color5: #ef476f;
$color6: #e952de;
.row{
    position: relative;
}
.col-2{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    p{
        font-size: 2vw;
        font-weight: bold;
    }
}
.color1{
    background-color: $color1;
    &::after{
        content: "";
        height: 100%;
        width: 17%;
        background-image: url(../assets/huida.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 130% 100%;
        display: block;
        position: absolute;
        transform: scaleX(0);
        background-color: black;
        transition: 0.5s all ease;

        
    }
    &:hover::after{
        transform: scaleX(1);
    }

}
.color2{
    background-color: $color2;
}
.color3{
    background-color: $color3;
}
.color4{
    background-color: $color4;
    color: white;
}
.color5{
    background-color: $color5;
}
.color6{
    background-color: $color6;
    color: white;
}