* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* VARIABLES */

$color1: #8ecae6;
$color2: #d62828;
$color3: #fcbf49;
$color4: #03045e;
$color5: #ef476f;
$color6: #e952de;


@mixin flex($justify:normal, $align:stretch, $direction:row){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}


@mixin background($image,$position,$repeat,$size){
    background-image: $image;
    background-position: $position;
    background-repeat: $repeat;
    background-size: $size;
}





body{
    overflow-x: hidden;

}
main{
    .container-fluid{
        height: 100vh;
        width: 100vw;
        .row{
            .col-2{
                height: 100vh;
                @include flex(center, center);
                color: whitesmoke;
                font-size: 3vw;
                cursor: pointer;
                text-shadow: 1px 1px 2px black;
                &::after{
                    @include flex(center, flex-end);
                    font-size: 2vw;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                }
                }
            }
            .color-1{
                background-color: $color1;
                z-index: 3;
                &::after{
                    content: "La Huida  Remedios Varo";
                    @include background(url(../assets/huida.jpg),center,no-repeat ,100% 100%);
                    height: 100%;
                    width: 30%;
                    position: absolute;
                    left: -40rem;
                    z-index: 10;
                    transition: 1s all ease;
                }
                &:hover::after{
                    left: 0rem;
                    z-index: 1;

                }
            }
            .color-2{
                background-color: $color2;
                &::after{
                    content: "Ruptura  Remedios Varo";
                    @include background(url(../assets/Ruptura.jpg), center, no-repeat, cover);
                    height: 100%;
                    width: 30%;
                    position: absolute;
                    left: -20rem;
                    z-index: -1;
                    transition: 1s all ease;
                }
                &:hover::after{
                    left: 16.7%;
                    z-index: 2;

                }
            }
            .color-3{
                background-color:$color3;
                &::after{
                    content: "Payaso  María Izquierdo";
                    @include background(url(../assets/payaso.jpg), center, no-repeat, cover);
                    height: 100%;
                    width: 30%;
                    position: absolute;
                    transition: 1s all ease;
                    transform: scaleX(0);
                }
                &:hover::after{
                transform: scaleX(1);
                }
                
            }
            .color-4{
                background-color: $color4;
                &::after{
                    text-align: center;
                    content: "El nacimiento de una divinidad  Salvador Dalí";
                    @include background(url(../assets/divinidad.jpg), center, no-repeat, cover);
                    height: 100%;
                    width: 30%;
                    position: absolute;
                    transition: 1s all ease;
                    transform: scaleX(0);
                }
                &:hover::after{
                transform: scaleX(1);
                }
            }
            .color-5{
                background-color: $color5;
                overflow: hidden;
                &::after{
                    text-align: center;
                    content: "Hombre invisible  Salvador Dalí";
                    @include background(url(../assets/invisivble.jpg), center, no-repeat, cover);
                    height: 100%;
                    width: 30%;
                    position: absolute;
                    right: -20rem;
                    z-index: -1;
                    transition: 1s all ease;
                    overflow: hidden;
                }
                &:hover::after{
                    right: 16.7%;
                    z-index: 1;

                }
            }
            .color-6{
                background-color: $color6;
                z-index: 3;
                &::after{
                    text-align: center;
                    content: "Carnaval de la vida mexicana - Diego Rivera";
                    @include background(url(../assets/carnaval.jpg),center , no-repeat ,100% 100% );
                    height: 100%;
                    width: 30%;
                    position: absolute;
                    right: -40rem;
                    z-index: -1;
                    transition: 1s all ease;
                }
                &:hover::after{
                    right: 0rem;
                    z-index: 3;

                }
            }
        }
    }
